version: '3'
services:
  node:
    build: .
    ports:
      - '9545:9545'
      - '9222:9222'
      - '30305:30305/udp'
    volumes:
      - ./es-data:/es-node/es-data
    environment:
      - ES_NODE_STORAGE_MINER=${ES_NODE_STORAGE_MINER}
      - ES_NODE_SIGNER_PRIVATE_KEY=${ES_NODE_SIGNER_PRIVATE_KEY}
    command:  ["sh", "-c", "/es-node/run.sh --miner.zk-prover-impl=2"]
    container_name: es
    tty: true
